* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Mulish", Arial, sans-serif;
    background-color: rgb(138, 169, 247);
}

#content {
background-color: black;
}

#placeHere {
    display: flex;
    justify-content: space-evenly;
}

.divCol {
    display: flex;
    flex-direction: column;
    width: auto;
}

header {
    margin: 0;
}

header p {
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: white;
    border-radius: 15px;
    width: fit-content;
    padding: 0 5px;

}

header button {
    width: 100px;
    border-radius: 25px;

}

header.expanded {
    max-height: 500px;
    padding-bottom: 20px;
    transition: min-height 1s ease-in-out, padding 0.4s ease-in-out;
}

h1 {
    text-align: center;
    margin: 0;
    color: white;
}

#ageS {
    display: flex;
    flex-direction: row;
}

#ageS p {
    margin: 0;
    margin-right: 10px;
}

#ageS button {
    margin-left: 5px;
}

.hide {
    display: none;
}

#ageList p {
    margin: 2px;
    background-color: grey;
    color: white;
    padding: 2px;
    border-radius: 15px;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: darkblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 6px; 
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.hiddenOpt {
display: none;
}

.green {
color: rgb(98, 183, 77);
}

.yellow {
color: yellow;
}

.red {
color: red;
}

#filterScore {
display: flex;
flex-direction: row;
}

#filterScore p {
    margin: 0;
    padding: 4px 2px;
}

#filterScore input{
    height: fit-content;
}

input {
    margin: 0 5px;
    border-radius: 13px;
    width: 60px;
    height: 30px;
    font-size: 20px; 
    border: 1px solid rgb(83, 83, 83);

}

#filters {
    margin-left: 5px;
    margin-bottom: 5px;
    width: fit-content;
}

#filters div {
    margin-bottom: 5px;
}

#filterAN {
    display: flex;
}

#filterAN p {
    margin: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: relative;
    display: inline-block;
    width: 32px;
    height:18px;
    margin-right: 5px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.slider::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    transition: transform 0.3s ease-in-out;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider::before {
    transform: translateX(14px);
}

#sort {
    display: flex;
    flex-direction: row;
}

#sort p {
    margin: 0;
    margin-left: 5px;
}

#sort select {
    margin-left: 5px;
}

#filterTags {
    display: flex;
    flex-direction: row;
}

#filterTags p {
    margin: 0;
}

#filterTags select {
    margin: 0 5px;
}

#tagHere button {
    margin: 2px;
    background-color: white;
    color: black;
    padding: 2px;
    border-radius: 15px;
    border: none;
}

#tagHere button span {
    color: black;
    float: right;
    background-color: rgba(0, 0, 0, 0);
}

#showOhide {
    float: right;
}

figure {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    border-radius: 25px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 80vw;
    margin: 0;
    margin-bottom: 30px;
    /* filter: drop-shadow(18px 18px 8px black); */
    transition: transform 0.3s ease, filter 0.3s ease;
}

figcaption {
    width: fit-content;
}

.figTop span {
    background-color: white;
    color: black;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    padding: 0 3px;
    margin-left: auto;
}

.figTop {
    display: flex;
}

.tags {
    margin-top: 2px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.tags span {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 0 3px;
    margin: 1px;
}

.all img {
    margin-top: 5px;
    width: 100%;
    height: auto;
}

figure button {
    width: 100px;
    height: auto;
    color: black;
    border: 0;
    background-color: white;
    border-radius: 25px;
    margin: 0px;
    margin-left: 0;
}

.div2 {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-between;
}

.div2 p {
    margin: 0;
    background-color: grey;
    border-radius: 15px;
    color: white;
    height: fit-content;
    padding: 2px;
}

.div2 .time {
    color: black;
    background-color: white;
    border-radius: 15px;
    margin-top: 0px;
    width: fit-content;
    padding: 0 2px;
}

select {
    border-radius: 15px;
}

h2 {
    margin-left: 5px;
    font-size: large;
}

#HideAgeTags {
    width: fit-content;
}

footer p {
    text-align: center;
    color: white;
}

#helpShow {
    margin: 5px;
    background-color: lightgray;
    border: 0;
    border-radius: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

}

#help {
    background: linear-gradient(to right, hsl(108, 65%, 58.4%), hsl(54, 65%, 58.4%), hsl(0, 65%, 58.4%));
}

#rect {
    background-color: black;
    height: 430px;
}

@media screen and (min-width: 639px) {
    figure {
        width: 300px;
    }
}

@media screen and (min-width: 800px) {
    .fig:hover {
        transform: scale(1.15);
        z-index: 3;
    }

    #help:hover{
        transform: scale(1.15);
        z-index: 3;
    }

    #tagHere button span {
        color: white;
        float: right;
        background-color: rgba(0, 0, 0, 0);
    }

    #tagHere button:hover {
        background-color: grey;
    }
}